smart-contract/artifacts/*
smart-contract/build/*
smart-contract/cache/*

minting-dapp-admin/node_modules
minting-dapp-admin/dist

*/artifacts/*
*/build/*
*/cache/*

# Editor
.vscode

# Misc.
.DS_Store

genconfig
*.env
*.bak

# logs
*.log

# test coverage
coverage.out

# configuration
*.toml
/configuration/ecc

# dependencies
/vendor/
**/node_modules

# certs
/certs/

# builds
/dist/
/build/
/internal/migrations/migrations_gen.go
/docs/public/
dep-graph.pdf

# typescript
**/next-env.d.ts
.DS_Store
