$footer-height: 30px;

.mainView {
  min-height: calc(100vh - $footer-height);
  background-color: #bbbbbb;
}

.footer {
  width: 100%;
  height: $footer-height;
  background-color: #696969;
  color: white;
  text-align: center;
  line-height: $footer-height;
}
