.nftPreview {
  background-color: #616b4d;
  color: #dadada;
  // make grid or smth
  width: 250px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin-right: 70px;
  margin-bottom: 70px;
}
