@import './variables.scss';

.nftList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .nftListItem {
    width: 200px;
    height: 180px;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    cursor: pointer;

    .imgContainer {
      width: 100%;
      height: 120px;

      img {
        max-width: 100%;
      }
    }

    .status {
      display: flex;
      align-items: center;
      padding: 5px 0;

      .statusIndicator {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }


    .itemId {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      font-size: 18px;
    }
  }
}

.loadMore {
  display: block;
  margin: 0 auto;
  background-color: $white;
  color: $black;
  border: 0;
  cursor: pointer;
  width: 195px;
  text-align: center;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}