.container {
  padding: 20px 60px;
  width: 100%;

.pageHeader {
    background-color: orange;
    height: 100px;
    margin-bottom: 20px;
  }

  .nftList {
    display: flex;
    flex-wrap: wrap;
  }
}